h1 {
    font-family: 'Iosevka SS14 Web', monospace;
    font-style: oblique;
    font-weight: 900;
    text-align: center;
    font-size: 25vmin;
    background-color: #66368c30;
}

.introduction {
    font-family: "Iosevka SS14 Web", monospace;
    font-weight: 300;
    text-align: center;
    font-size: 4vmin;
    /*background-color: #00000020;*/
}

.projectlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectlinks a {
    /*margin: 0 10vmin;*/
    order: 0;
    padding: 10px;
    font-family: "Iosevka SS14 Web", monospace;
    font-weight: 500;
    text-align: center;
    color: crimson;
}

body {
    background-color: #000;
    color: #998890;
}